{% extends 'base.html.twig' %}

{% block title %}New Part{% endblock %}

{% block body %}
    <h1 class="h4 text-gray-900 pt-2 text-center">Add New Part</h1>

    {{ include('part/_form.html.twig') }}
{% endblock %}