{% extends 'base.html.twig' %}

{% block title %}Edit Bicycle{% endblock %}

{% block body %}
    <h1>Edit Bicycle</h1>

    {{ include('bicycle/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_bicycle_index') }}">back to list</a>

    {{ include('bicycle/_delete_form.html.twig') }}
{% endblock %}
