{% extends 'base.html.twig' %}

{% block title %}Edit Bicycle{% endblock %}

{% block body %}
    <h1 class="h4 text-gray-900 pt-2 text-center">Edit Bike</h1>
    {{ include('bicycle/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}