{% extends 'base.html.twig' %}

{% block title %}New Bicycle{% endblock %}

{% block body %}
    <h1 class="h4 text-gray-900 pt-2 text-center">Add New Bike</h1>
    {{ include('bicycle/_form.html.twig') }}
{% endblock %}