{% extends 'base.html.twig' %}

{% block title %}New Bicycle{% endblock %}

{% block body %}
    <h1>Create new Bicycle</h1>

    {{ include('bicycle/_form.html.twig') }}

    <a href="{{ path('app_bicycle_index') }}">back to list</a>
{% endblock %}
