<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error Page 404</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Kanit:200" rel="stylesheet">
    <!-- Font Awesome Icon -->
    <link type="text/css" rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}" />
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}" />
</head>
<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h2>Oops! Page Not Found</h2>
        <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable. <a href="{{ path('app_part_index') }}">Return to homepage</a></p>

        <div class="notfound-social">
            <a href="https://hanni.io/" target="_blank"><i class="fa fa-code"></i></a>
            <a href="https://github.com/hmorejong" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/hanni-morejon" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
</div>
</body>
</html>
