<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error Page 500</title>
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Kanit:200" rel="stylesheet">
    <!-- Font Awesome Icon -->
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css" />
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style.css" />
</head>
<body>
<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>500</h1>
        </div>
        <h2>Oops! Internal Server Error</h2>
        <p>Apologies, but something went wrong on the server. Please notify me about the issue, and I'll fix it.
            <a href="{{ path('app_part_index') }}">Return to homepage</a>
        </p>

        <div class="notfound-social">
            <a href="https://hanni.io/" target="_blank"><i class="fa fa-code"></i></a>
            <a href="https://github.com/hmorejong" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://www.linkedin.com/in/hanni-morejon" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
</div>
</body>
</html>
