<ul class="navbar-nav bg-primary bg-gradient sidebar">
    <li class="nav-item active">
        <a class="sidebar-brand d-flex">
            <div class="sidebar-brand-text">Bike Wiz</div>
        </a>
    </li>
    <hr class="sidebar-divider my-0">
    <li class="nav-item active">
        <a href="{{ path('app_bicycle_index') }}" class="nav-link"> <i class="fas fa-fw fa-bicycle me-1"></i>
            <span>Bikes</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Parts</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Accessories</span></a>
    </li>
</ul>